body {
    max-width: 650px;
    margin: 40px auto;
    padding: 0 10px;
    /* https://practicaltypography.com/system-fonts.html */
    /* https://www.cssfontstack.com/Palatino */
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 16px;
    line-height: 1.6;
    color: #444;
    background: #fafafa;
}

h1,
h2,
h3 {
    margin-top: 1.2em;
    line-height: 1.2;
}

a:link,
a:visited {
    color: #215187;
}

code {
    display: block;
    overflow: auto;
    padding: 1em 1.5em;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.5;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #dadadada;
        background: #121212;
    }

    a:link,
    a:visited {
        color: #7eade7;
    }

    code {
        background: #000;
        box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 1px;
    }
}
